/**                         export-ignore
/*.md                        export-ignore
/*.txt                       export-ignore
/*.tres                      export-ignore
/*.png                       export-ignore
/*.godot                     export-ignore
/*.import                    export-ignore
/addons/godot-css-theme     !export-ignore