button, h1 {
    background-color: black;
    color: white;
    padding: 2em;
}

body { padding: 0; margin: 0 }

h1 {
    font-size:
    10em;

    color: black
    ;
}

button:hover, button:focus {
    color: red;
}

button:disabled, button:active {
    color: black
}

Resource {
    --icon: url(res://test.png);
}