body {
  font-family: url(font.tres);
}

Label {
  color: #fff;
  background: #000;
  padding: 5 10;
  font-family: url(font_2.tres);
}

Button,
Button:hover,
Button:focus,
Button:disabled,
Button:pressed {
  color: #fff;
  background: #333;
}

Button.dark {
  color: #000;
  background: #fff;
}

Button.dark:disabled {
  color: #555;
  background: #ccc;
}