body {
  font-family: url(res://tests/unit/mintsoda.ttf);
}

Button {
  --colors-font-color: #000;
  --colors-font-disabled-color: #333;
  --colors-font-hover-color: #fff;
  --colors-font-pressed-color: Color(0, 0, 0, 0);

  --const-hseparation: 10;

  --fonts-font: url(res://tests/unit/jackeyfont.ttf);

  --styles-normal-type: Empty;

  --styles-hover-type: Flat;
  --styles-hover-bg-color: #444;
  --styles-hover-shadow-size: 5;
}

CheckBox {
  --icons-checked: url(res://icon.png);
}

HSlider {
  --styles-grabber-area-type: Empty;
  --styles-grabber-area-highlight-type: Empty;
  --styles-slider-type: Empty;
  --styles-slider-content-margin-top: 10;
}

Button.dark {
  color: #000;
  background: #fff;
}

Button:disabled.dark {
  color: #555;
  background: #ccc;
}