Button, Button:hover, Button:pressed, Button:focused {
  color: #fff;
  padding: 4 10;
  background: transparent;
}

Button:pressed {
  background: Color(0.5, 0.7, 0.9, 0.3);
}

Button:hover {
  background: Color(1, 1, 1, 0.1);
}

PanelContainer {
  background: #252b34;
}

CodeEdit {
  font-size: 16;
  background: #1d2229;
  padding: 8;
}

MarginContainer.toolbar {
  --const-margin-right: 8;
  --const-margin-left: 8;
}